body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background-color: blanchedalmond;
}

div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.div0 {
    height: 150px;
    background-color: rgb(153, 167, 167);
}

.div0 h1 {
    padding-top: 1%;
    transform: rotate(-3deg);
    display: inline-block;
    font-size: 50px;
}

.div0 button {
    margin-left: 200px;
    transform: rotate(20deg);
    display: inline-block;
}

.div1 {
    height: 350px;
    background-color: rgb(128, 128, 128);
}

.div2 {
    height: 350px;
    background-color: rgb(164, 167, 167);
}

#info {
    font-size: 42px;
    display: none;
}

#info p {
    transform: rotate(6deg);
    background-color: rgba(58, 58, 58, 0.61);
}

#print-box {
    background-color: rgb(255, 250, 235);
    height: 90%;
    font-size: 20px;
}

#print-box p {
    margin: 0;
    padding: 0;
    color: rgb(19, 19, 19);
    font-style: italic;
}

#correct-words {
    font-size: 150px;
}

textarea {
    height: 300px;
    width: 1200px;
    font-size: 16px;
}